.recipe-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .view-all-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-all-button:hover {
    background-color: #0056b3;
  }
  